# ===========================
# API Gateway
# ===========================

/api-gateway/node_modules
/api-gateway/.env
/api-gateway/dist
/api-gateway/logs
/api-gateway/coverage
/api-gateway/tmp
/api-gateway/*.log
/api-gateway/.DS_Stor
# ===========================
# Identity Service
# ===========================
/identity-service/node_modules
/identity-service/.env
/identity-service/dist
/identity-service/logs
/identity-service/coverage
/identity-service/tmp
/identity-service/*.log
/identity-service/.DS_Store
# ===========================
#Post Service
# ===========================
/post-service/node_modules
/post-service/.env
/post-service/dist
/post-service/logs
/post-service/coverage
/post-service/tmp
/post-service/*.log
/post-service/.DS_Store

# ===========================
#Media Service
# ===========================
/media-service/node_modules
/media-service/.env
/media-service/dist
/media-service/logs
/media-service/coverage
/media-service/tmp
/media-service/*.log
/media-service/.DS_Store



# ===========================
# OS / System Files
# ===========================
# macOS
.DS_Store

# Windows
Thumbs.db
